{% extends 'base.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
     <h1>{{ categorie.nom }}</h1>
    <button class="btn "><a href="{{ path('app_categorie_index') }}">Retourner a la liste des categories</a></button>
     <div>
          <table class="table table-hover">
        <thead>
            <tr class="table-dark">

                <th>Titre</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td><img src="{{ article.image }}" alt="..." height="300" widht="100"></td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">Detail de l'article</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun article disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
