{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.nom }}</td>
                <td>
                    <a href="{{ path('app_admincategorie_show', {'id': categorie.id}) }}">Detail</a>
                    <a href="{{ path('app_admincategorie_edit', {'id': categorie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Categorie Trouvé"</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admincategorie_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
